body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    color: black;
}

.header-container img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 37%; /* Espacio entre la imagen y el título */
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    color: black;
}

nav {
    background-color: #ffffff;
    overflow: hidden;
    text-align: right; /* Alinea el menú a la derecha */
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Hace que los elementos del menú se alineen a la derecha */
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    display: block;
}

nav ul li a:hover {
    background-color: #4CAF50;
}

* {box-sizing:border-box}

[data-component="slideshow"] .slide {
 display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.container2 {
    
    display: flex;
    justify-content: space-between;
    text-align: lef;
    padding: 1% 10% 5% 10%;
    max-width: 100%;
    margin: 0 auto;
    border-top: gray 2px solid;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

/* Slideshow horizontal */
        .slideshow-container {

            width: 100%;
            padding: 1% 0;
            overflow: hidden;
            position: relative;
            border-top: gray 2px solid;
            background-color: #ffffff;
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            box-sizing: border-box;
        }

        .slide img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }

        .text {
            color: white;
            font-size: 18px;
            padding: 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
        }

/* Contenedor de puntos */
        .dot-container {
            text-align: center;
            padding: 10px;
            background-color: #ffffff;
        }

        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
            background-color: #4CAF50;
        }

/* Sección de de temas relevantes */
.three-columns {
    display: flex;
    justify-content: space-between;
    padding: 1% 20% 5% 20%;
    max-width: 100%;
    margin: 0 auto;
}

.three-columns div {
    flex: 1;
    margin: 0 5%;
    text-align: center;
}

.three-columns div a {
    text-decoration: none;
    color: black;
}

.three-columns img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .three-columns {
        flex-direction: column;
    }

    .three-columns div {
        margin-bottom: 20px;
    }
}
/*Catalogo*/
.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    margin: 20px;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book h3 {
    margin: 10px 0;
}

.book button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.descripcion p {
    font-size: 18px;
    color: #B54747;
    margin: 20px 0;
}
.descripcion h2 {
    font-size: 40px;
    color: #B54747;
    margin: 20px 0;
}

section.formulario h3 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos del Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 18px;
    color: #686868;
    margin-top: 10px;
}

form input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6600;
}



